<h1>My Cocktails</h1>
<%= @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) url(<%= cocktail.banner_url %>">
      <%= cocktail.name %>
    </div>
  <% end %>
<% end %>
